#Yaroslav {
  width: 100px;
  height: 100px;
  background-color: blue;
  animation: move-and-scale 3s infinite alternate;
}

@keyframes move-and-scale {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(100px) scale(1.2);
  }
  100% {
    transform: translateX(200px) scale(1);
  }
}
